<div id="experience" class="ui vertical stripe segment">
    <h1 class="ui center aligned icon header">Experience</h1>
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="four wide column">
                <h3 class="ui header" >TechPro</h4>
                <p> August 2015 - Current </p>
            </div>
            <div class="eight wide column">
                <h3>Implementation Specialist</h3>
                <ul>
                    <li>
                    </li>
                </ul>
                
                
                <h3>Implementation Specialist</h3>
                <ul>
                    <li>
                    </li>
                </ul>
                
            </div>
        </div>
        <div class="row">
            <div class="four wide column">
                <h3 class="ui header">Frontline Technologies</h3>
                <p> January 2014 - August 2015 </p>
            </div>
            <div class="eight wide column">
                <p>test</p>
            </div>
        </div>
    </div>
</div>