<div id="experience" class="ui vertical stripe segment">
    <h1 class="ui center aligned icon header">Experience</h1>
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="four wide column">
                <h1 class="ui header">
                    Tech Pro
                    <div class="sub header">Fullstack Developer</div>
                </h1>
                <p> July 2015 - Current </p>
            </div>
            <div class="twelve wide column">
                <ul class="ui large list">
                    <li><b>Skills Used</b>: Nodejs, Expressjs, Angular, Asterisk, Web Sockets, Ionic, Git, Grunt, Jasmine, HTML/CSS,
                        and Javascript</li>
                    <li><b>Role Overview</b>: Lead developer for in house call monitoring tool that allows users to interact with
                        calls, contacts, voice mails, and call history through a clean interface.</li>
                    <li><b>Interesting Challenges</b>:</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="four wide column">
                <h1 class="ui header">
                    Frontline Technologies
                    <div class="sub header">Programmer/Technical Specialist/Implimentation Specialist</div>
                </h1>
            </div>
            <div class="twelve wide column">
                <ul class="ui large list">
                    <li><b>Skills Used</b>: HTML/CSS, Javascript, JQuery, SQL, and .Net</li>
                    <li><b>Role Overview</b>: Developed client customization's and system wide features, provided technical support, and trained clients on best practices.</li>
                    <li><b>Interesting Challenges</b>: Because the product served a large array of school districts with different procedures, one of the more unique challenges was working closely with clients to find a solution that would solve the clients needs but not deviate too far from the core product.</li>
                </ul>
            </div>
        </div>
    </div>
</div>